
h1 { 
font-size:20px;
}

p {
font-size: 14px;
color: green;
}

#rounded{
	border-radius: 50px 15px;
	background: #ffffff;
	padding: 20px;
	text-align: center;
	color: black;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, Comics, sans-serif; 
	text-align: left;
}

.history {
	border: solid white 5px;
	text-align: center;
}

.bottomleft {
position : absolute;
left: 14px;
font-size: 12px;
}
