hh2 {
text-align: center;
font-size: 14px;
}

p {
font-size: 12px;
color: black;
}

.body {
	font-family: Arial, Helvetica, Comics, sans-serif; 
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #FFEBCD;
	text-align: center;
	color: black;
	font-size: 40px;
	padding: 20px;
}

.nav {
background-color: #DEB887;
text-align: center;
font-size: 12px;
}

.aside {
	background-color: #5F9EA0;
	width: 30%;
	height: 500px;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-size: 14px;
	color: white;
}

.section {
	background-color: #FFE4C4;
	float: left;
	width: 70%;
	height: auto;
	font-size: 12px;
	color: black;
}

.all-browser {
	margin: 0;
	float: left;
	width: 70%;
	padding: 10px;
	background-color: #F5F5DC;
}
.all-browser > h2, .browser {
	margin: 10px;
	padding: 5px;
	width: 70%;
	color: black;
}

.browser {
	width: 70%;
	color: black;
}

.browser > h2,p {
	margin : 4px;
	font-size: 90%;
}

#footer {
	text-align: center;
	background-color: #FFE4C4;
	padding: 10px;
	color: black;
	display: block;
	position: absolute;
	bottom: 0;
}
